[submodule "blog/themes/imperfect"]
	path = blog/themes/imperfect
	url = git@github.com:pacollins/hugo-future-imperfect-slim.git
[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
